[package]
name = "swash"
version = "0.1.7"
authors = ["Chad Brokaw <cbrokaw@gmail.com>"]
edition = "2018"
description = "Font introspection, complex text shaping and glyph rendering."
license = "MIT OR Apache-2.0"
keywords = ["font", "shape", "glyph", "text"]
categories = ["graphics", "text-processing"]
repository = "https://github.com/dfrg/swash"
homepage = "https://github.com/dfrg/swash"
readme = "README.md"

[features]
default = ["scale", "render"]

scale = ["yazi", "zeno"]
render = ["scale", "zeno/eval"]

[dependencies]
yazi = { version = "0.1.5", optional = true }
zeno = { version = "0.2.2", optional = true, default_features = false }
